{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col s6 col-offset-3">
                <h1>{{ drinkmenuitem.name }}</h1>
                <p>{{ drinkmenuitem.description }}</p>
            </div>
            <a href="{% url 'drink_menu_item_update' drinkmenuitem.id %}">Edit</a>
            <a href="{% url 'drink_menu_item_delete' drinkmenuitem.id %}">Delete</a>
    </div>


    <div class="col s6 col-offset-3">
        {% for photo in drinkmenuitem.drinkphoto_set.all %}
            <img class="card-img-left" src="{{photo.url}}">
        {% empty %}
            <div class="card-panel center-align">No Photos Uploaded</div>
        {% endfor %}
        <div class="card-body">
        {% if user.is_superuser %}
            <form action="{% url 'add_drink_photo' drinkmenuitem.id %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <input type="file" name="photo-file">
                <br><br>
                <button type="submit" class="btn btn-dark">Upload Photo</button>
            </form>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}