{% extends 'base.html' %}
{% block content %}



<div class="row">
    <div class="col s6 col-offset-3">
        <h1>{{ foodmenuitem.name }}</h1>
        <p>{{ foodmenuitem.description }}</p>
        <div>
            {% if foodmenuitem.side_option.count%}
                <p>Side options:</p>
                <ul>
                    {% for item in foodmenuitem.side_option.all %}
                        <li>{{ item.name }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {% if foodmenuitem.added_option.count%}
                <p>Added options:</p>
                <ul>
                    {% for item in foodmenuitem.added_option.all %}
                        <li>{{ item.name }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {% if foodmenuitem.size_option.count%}
                <p>Size options:</p>
                <ul>
                    {% for item in foodmenuitem.size_calculation %}
                        <li>{{ item.name }} - ${{ item.price }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {% if foodmenuitem.gravy_option.count%}
                <p>Gravy options:</p>
                <ul>
                    {% for item in foodmenuitem.gravy_option.all %}
                        <li>Add {{ item.name }} for ${{ item.price }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {% if foodmenuitem.cook_option.count%}
                <p>Cook options:</p>
                <ul>
                    {% for item in foodmenuitem.cook_option.all %}
                        <li>{{ item.name }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {% if foodmenuitem.sauce_option.count%}
                <p>Sauce options:</p>
                <ul>
                    {% for item in foodmenuitem.sauce_option.all %}
                        <li>{{ item.name }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {% if foodmenuitem.remove_option.count%}
                <p>Remove options:</p>
                <ul>
                    {% for item in foodmenuitem.remove_option.all %}
                        <li>{{ item.name }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        {% if user.is_superuser%}
            <a href="{% url 'food_menu_item_update' foodmenuitem.id %}">Edit</a>
            <a href="{% url 'food_menu_item_delete' foodmenuitem.id %}">Delete</a>
        {% endif %}
    </div>
    <div class="col s6 col-offset-3">
        {% for photo in foodmenuitem.foodphoto_set.all %}
            <img class="card-img-left" src="{{photo.url}}">
        {% empty %}
            <div class="card-panel teal-text center-align">No Photos Uploaded</div>
        {% endfor %}
        <div class="card-body">
        {% if user.is_superuser %}
            <form action="{% url 'add_food_photo' foodmenuitem.id %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <input type="file" name="photo-file">
                <br><br>
                <button type="submit" class="btn btn-dark">Upload Photo</button>
            </form>
        {% endif %}
        </div>
    </div>
</div>


{% endblock %}