{% extends 'base.html' %}
{% block content %}

<nav class="navbar navbar-expand-lg bg-body-tertiary center mt-2 mb-2">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav filters">
                <li class="nav-item">
                    <button class="btn">All</a>
                </li>
                    <button class="btn">Starters</button>
                <li class="nav-item">
                    <button class="btn">Brunch</button>
                </li>
                <li class="nav-item">
                    <button class="btn">Mains</button>
                </li>
                <li class="nav-item">
                    <button class="btn">Burgers</button>
                </li>
                <li class="nav-item">
                    <button class="btn">Pasta</button>
                </li>
                <li class="nav-item">
                    <button class="btn">Salad Mains</button>
                </li>
                <li class="nav-item">
                    <button class="btn">Chef's Special</button>
                </li>
                <li class="nav-item">
                    <button class="btn">Thursday Parma Night</button>
                </li>
                <li class="nav-item">
                    <button class="btn">Kid's Meals</button>
                </li>
                <li class="nav-item">
                    <button class="btn">Desserts</button>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container food all">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="row row-cols-1 row-cols-md-2 g-4 all">
            {% for food in foodmenuitem_list %}
                <div class="col">
                    <div class="card h-100" style="max-width: 600px;">
                        <div class="row g-0">
                        <div class="col-md-4">
                            {% for photo in food.foodphoto_set.all %}
                                <img src="{{ photo.url }}" class="img-fluid rounded-start" alt="Image of {{ food.name }}">
                            {% empty %}
                                <div></div>
                            {% endfor %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ food.name }}</h5>
                                <p class="card-text">{{ food.description }}</p>
                                {% if user.is_superuser %}
                                    <a href="{% url 'food_menu_item_detail' food.id %}">Details</a>
                                {% endif %}
                                {% if user.is_authenticated %}
                                    <a href="{% url 'add_line_item' food.id%}">Add to order</a>
                                {% endif %}
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
      </div>
  </div>
</div>

{% block javascript  %}
    <script>
        // each button has an event listener to hide all the food and redisplay
        // just the selected category
        document.querySelectorAll('button').forEach((button) => {
            button.addEventListener('click', () => {
                // hide everything
                document.querySelectorAll('.food').forEach((div) => div.style.display = 'none')
                // display the current category
                const category = button.innerText;
                console.log(category)
                document.querySelector(`.food.${ category }`).style.display = 'block';
            })
        });
    </script>
{% endblock %}

{% endblock %}



