{% extends 'base.html' %}
{% block content %}

<div class="container m-5">
    <form method="post">
        {% csrf_token %}
        <div>
            <label class ="visually-hidden-focusable" for="id_name">Name:</label>
            <input class ="visually-hidden-focusable" name="name" id="id_name" value="{{foodmenuitem.name}}"><span class="fs-2 mb-2">{{ foodmenuitem.name }}</span></input>
        </div>
        <div>
            {% for photo in foodmenuitem.foodphoto_set.all %}
                <img src="{{ photo.url }}" class="img-fluid rounded-start" alt="Image of {{ food.name }}" style="max-width: 250px;">
            {% empty %}
                <div></div>
            {% endfor %}
        </div>
        <div>
            <label for="id_price">Price:</label>
        <input class ="visually-hidden-focusable" name="price" id="id_price" value="{{ foodmenuitem.price }}"> ${{ foodmenuitem.price }}</input>
        </div>
        <div>
            <label for="id_order">Your Order No. is</label>
            <input class ="visually-hidden-focusable" name="order" id="id_order" value="{{ order.id }}"> {{ order.id }}</input>
        </div>
        <div>
            {% if foodmenuitem.side_option.exists %}
                <label for="id_side_option">Choose your side:</label>
                <select class="form-select" name="side_option" id="id_side_option" >
                    {% for option in foodmenuitem.side_option.all %}
                        <option value="{{ option.id }}">{{ option.name }}</option>
                    {% endfor %}
                </select>
            {% else %}
                <span></span>
            {% endif %}
        </div>
        <div>
            {% if foodmenuitem.added_option.exists %}
                <label for="id_added_option">Things to add:</label>
                <select class="form-select" name="added_option" id="id_added_option" multiple>
                    {% for option in foodmenuitem.added_option.all %}
                        <option value="{{ option.id }}">{{ option.name }} - ${{ option.price }}</option>
                    {% endfor %}
                </select>
                <div class="form-text">Ctrl + click to select more than one</div>
            {% else %}
                <span></span>
            {% endif %}
        </div>
        <div>
            {% if foodmenuitem.size_option.exists %}
                <label for="id_size_option">Which size?</label>
                <select class="form-select" name="size_option" id="id_size_option" >
                    {% for option in foodmenuitem.size_option.all %}
                        <option value="{{ option.id }}">{{ option.name }} - Additional ${{ option.price }}</option>
                    {% endfor %}
                </select>
            {% else %}
                <span></span>
            {% endif %}
        </div>
        <div>
            {% if foodmenuitem.gravy_option.exists %}
                <label for="id_gravy_option">Choose gravy:</label>
                <select class="form-select" name="gravy_option" id="id_gravy_option" multiple>
                    {% for option in foodmenuitem.gravy_option.all %}
                        <option value="{{ option.id }}">{{ option.name }} - ${{ option.price }}</option>
                    {% endfor %}
                </select>
                <div class="form-text">Ctrl + click to select more than one:</div>
            {% else %}
                <span></span>
            {% endif %}
        </div>
        <div>
            {% if foodmenuitem.cook_option.exists %}
                <label for="id_cook_option">How would you like it cooked?</label>
                <select class="form-select" name="cook_option" id="id_cook_option" >
                    {% for option in foodmenuitem.cook_option.all %}
                        <option value="{{ option.id }}">{{ option.name }}</option>
                    {% endfor %}
                </select>
            {% else %}
                <span></span>
            {% endif %}
        </div>
        <div>
            {% if foodmenuitem.sauce_option.exists %}
                <label for="id_sauce_option">Choose sauce:</label>
                <select class="form-select" name="sauce_option" id="id_sauce_option" >
                    {% for option in foodmenuitem.sauce_option.all %}
                        <option value="{{ option.id }}">{{ option.name }}</option>
                    {% endfor %}
                </select>
            {% else %}
                <span></span>
            {% endif %}
        </div>
        <div>
            {% if foodmenuitem.remove_option.exists %}
                <label for="id_remove_option">Would you like anything removed?</label>
                <select class="form-select" name="remove_option" id="id_remove_option" multiple>
                    {% for option in foodmenuitem.remove_option.all %}
                        <option value="{{ option.id }}">{{ option.name }}</option>
                    {% endfor %}
                </select>
                <div class="form-text">Ctrl + click to select more than one:</div>
            {% else %}
                <span></span>
            {% endif %}
        </div>
        <input type="submit" value="Submit" class="btn btn-dark">
    </form>
</div>
{% endblock %}