{% extends 'base.html' %}
{% block content %}

<div>

    <h1>Current Order</h1>
    {% for item in order.lineitem_set.all %}
    
        <h4>{{ item.name }}</h4> 
        <ul>
            {% if item.side_option.exists %}
                {% for option in item.side_option.all %}
                    <li>{{ option.name }}</li>
                {% endfor %}
            {% endif %}

            {% if item.added_option.exists %}
                {% for option in item.added_option.all %}
                    <li>{{ option.name }}</li>
                {% endfor %}
            {% endif %}

            {% if item.size_option.exists %}
                {% for option in item.size_option.all %}
                    <li>{{ option.name }}</li>
                {% endfor %}
            {% endif %}

            {% if item.gravy_option.exists %}
                {% for option in item.gravy_option.all %}
                    <li>{{ option.name }}</li>
                {% endfor %}
            {% endif %}

            {% if item.cook_option.exists %}
                {% for option in item.cook_option.all %}
                    <li>{{ option.name }}</li>
                {% endfor %}
            {% endif %}

            {% if item.sauce_option.exists %}
                {% for option in item.sauce_option.all %}
                    <li>{{ option.name }}</li>
                {% endfor %}
            {% endif %}

            {% if item.remove_option.exists %}
                {% for option in item.remove_option.all %}
                    <li>{{ option.name }}</li>
                {% endfor %}
            {% endif %}
        </ul>
    {% empty %}
    <div>
        <h2>No order</h2>
        <a href="{% url 'food_menu' %}">Click here to get started</a>
    </div>
    {% endfor %}
</div>

{% endblock %}